html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

dialog {
  top: 30px;
  padding: 0;
  width: 400px;
  top: 70px;
  border: none;
  padding: 0;
  background: transparent;
  color: #000;

  /* For Polyfill */
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

/* For Native */
dialog::backdrop {
  background-color: #000;
  opacity: 0.3;
}

/* For Polyfill */
dialog + .backdrop {
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* For Polyfill */
dialog:not([open]) {
  display: none;
}

.dialog-body {
  padding: 16px;
}

header {
  background-color: #eaeff9;
  font-size: 23px;
}

dialog > p {
  padding: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

section {
  background-color: #fff;
}
